### Mô tả bộ dữ liệu
* **Link tải :** https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes
* Bộ dữ liệu dùng để dự đoán giá xe của một hãng nào đó.Ở đây thì tôi sẽ dự đoán giá xe trong hãng xe audi
* **Bộ dữ liệu gồm 9 cột :**
    * **model :** loại xe
    * **year :** Năm sản xuất
    * **price :** Giá xe
    * **transmission :** Bộ phận truyền số
    * **mileage :** Số dặm
    * **fuelType :** loại nhiên liệu
    * **tax :** Thuế
    * **mpg :** Lượng nhiên liệu tiêu thụ
    * **engineSize :** Kích thước động cơ

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/car/audi.csv')
df.head(3)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4

In [4]:
df.count()

model           10668
year            10668
price           10668
transmission    10668
mileage         10668
fuelType        10668
tax             10668
mpg             10668
engineSize      10668
dtype: int64